@import './media/css/index.css';

@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;

    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;

    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;

    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;

    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 222.2 84% 4.9%;

    --radius: 0.5rem;

    /* colors */
    --bg-common: rgba(0, 0, 0, 1);
    --bg-dark-main: rgba(48, 48, 48, 1);
    --bg-dark-secondary: rgba(29, 32, 28, 1);
    --white: rgba(255, 255, 255, 1);
    --grey-primary: rgba(210, 210, 210, 1);
    --red-primary: rgba(240, 75, 65, 1);
    --green-primary: rgba(29, 187, 117, 1);
    --green-secondary: rgba(33, 184, 118, 1);
    --violet-primary: rgba(247, 44, 255, 1);
    --yellow-primary: rgba(201, 221, 3, 1);
    --yellow-secondary: rgba(247, 236, 15, 1);
    --blue-primary: rgba(0, 35, 149, 1);
    --blue-secondary: rgba(17, 182, 248, 1);

    --border-grey-primary: rgba(217, 217, 217, 0.1);

    --table-row-primary: rgba(18, 20, 17, 1);
    --table-row-secondary: rgba(29, 32, 28, 1);

    --modal-overlay: rgba(0, 0, 0, 0.5);

    --pending-color: rgba(209, 164, 0, 1);
    --success-color: rgba(29, 187, 117, 1);
    --cancel-color: rgba(240, 75, 65, 1);
    --active-route: rgba(117, 117, 117, 1);


    /* fonts */
    --font-family-common: 'Effra', sans-serif;
    --font-size-common: 13px;
    --font-weight-common: 400;

    /* border */
    --border-common: 1px;
  }

  .dark {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;

    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;

    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;

    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 11.2%;

    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;

    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;

    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;

    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 212.7 26.8% 83.9%;
  }
}

html {
  font-family: var(--font-family-common);
  font-size: var(--font-size-common);
  font-weight: var(--font-weight-common);
  color: var(--white);
}