@import './media/css/index.css';

@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
  :root {
    /* colors */
    --bg-common: rgba(0, 0, 0, 1);
    --bg-dark-main: rgba(48, 48, 48, 1);
    --bg-dark-secondary: rgba(29, 32, 28, 1);
    --white: rgba(255, 255, 255, 1);
    --grey-primary: rgba(210, 210, 210, 1);
    --red-primary: rgba(240, 75, 65, 1);
    --green-primary: rgba(29, 187, 117, 1);
    --green-secondary: rgba(33, 184, 118, 1);
    --violet-primary: rgba(247, 44, 255, 1);
    --yellow-primary: rgba(201, 221, 3, 1);
    --yellow-secondary: rgba(247, 236, 15, 1);
    --blue-primary: rgba(0, 35, 149, 1);
    --blue-secondary: rgba(17, 182, 248, 1);

    --border-grey-primary: rgba(217, 217, 217, 0.1);

    --table-row-primary: rgba(18, 20, 17, 1);
    --table-row-secondary: rgba(29, 32, 28, 1);

    --modal-overlay: rgba(0, 0, 0, 0.5);

    --pending-color: rgba(209, 164, 0, 1);
    --success-color: rgba(29, 187, 117, 1);
    --cancel-color: rgba(240, 75, 65, 1);
    --active-route: rgba(117, 117, 117, 1);


    /* fonts */
    --font-family-common: 'Effra', sans-serif;
    --font-size-common: 13px;
    --font-weight-common: 400;

    /* border */
    --border-common: 1px;
  }
}

html {
  font-family: var(--font-family-common);
  font-size: var(--font-size-common);
  font-weight: var(--font-weight-common);
  color: var(--white);
  background: var(--bg-common);
}